<div class="container">
    <div class="row my-5">
        <div class="card shadow p-3 mb-5 bg-white rounded mx-auto my-auto justify-content col-md-6">
            <div class="title mx-auto my-3">
                <h2>{{title}}</h2>
            </div>
            <div class="login mx-auto btn mt-5 btn-success col-md-3">
                <a href="/login" style="text-decoration: none;" class="text-white">LOGIN</a>
            </div>
            <div class="register mx-auto my-3 btn btn-danger col-md-3">
                <a href="/register" style="text-decoration: none;" class="text-white">REGISTER</a>
            </div>
        </div>
    </div>
</div>