<div class="container">
    <h1 class="text-center mt-4">Welcome <span class="text-warning">To</span> LoginKaro</h1>
    <div class="user shadow col-md-6 col-xl-8 col-lg-10 col-sm-10 mx-auto text-center border border-info rounded mt-4">
        <h4 class="mt-3 mb-2">Hi, <span class="text-success">{{user.name}}</span></h4>
        <form action="/user/logout" method="post">
            <button class="btn btn-outline-danger mb-3" type="submit">LOGOUT</button>
        </form>
    </div>

</div>